<%- include('partials/header') %>


<!-- Menu Overlay -->
  <div class="overlay overlay-slide-left" id="overlay">
    <!-- Menu Items -->
    <nav>
      <ul>
        <li id="nav-1" class="slide-out-1"><a href="#">Home</a></li>
        <li id="nav-2" class="slide-out-2"><a href="/about">About</a></li>
        <li id="nav-3" class="slide-out-3"><a href="/skills">Skills</a></li>
        <li id="nav-4" class="slide-out-4"><a href="/projects">Projects</a></li>
        <li id="nav-5" class="slide-out-5"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <!-- Menu Bars -->
  <div class="menu-bars" id="menu-bars">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <!-- Sections -->
  <section id="home"><a href="#" target="_blank">GXpress Design</a></section>
  
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8850969052298596"
     crossorigin="anonymous"></script>
<!-- REAL ADS -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8850969052298596"
     data-ad-slot="1624426792"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<amp-ad width="100vw" height="320"
     type="adsense"
     data-ad-client="ca-pub-8850969052298596"
     data-ad-slot="1624426792"
     data-auto-format="rspv"
     data-full-width="">
  <div overflow=""></div>
</amp-ad>
<%- include('partials/footer') %>
