<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animated Navigation</title>
  <link rel="icon" type="image/png" href="favicon.png">
 <link rel="stylesheet" type="text/css" href="/styles.css">
<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8850969052298596"
     crossorigin="anonymous"></script>
</head>
<body>
